.u-section-1 .u-sheet-1 {
  min-height: 761px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 400;
  margin: 73px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 53px 591px 0 104px;
}

.u-section-1 .u-image-1 {
  width: 449px;
  height: 300px;
  margin: 4px 68px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: -288px 590px 0 105px;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: 15px 590px 36px 105px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 491px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 490px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 490px;
    margin-left: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 275px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 275px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 275px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-right: 95px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 95px;
    font-size: 1rem;
  }

  .u-section-1 .u-text-4 {
    margin-right: 95px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1097px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-weight: 700;
    margin-left: -10px;
    margin-right: -10px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-weight: 700;
    width: auto;
    margin-top: 307px;
    margin-right: -10px;
    margin-left: 10px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    height: 242px;
    width: 440px;
    margin-top: -318px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 95px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin: 18px 9px 45px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 512px;
}

.u-section-2 .u-image-1 {
  width: 553px;
  height: 392px;
  margin: 37px auto 0 17px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: -383px 372px 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 11px 361px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 10px 30px 0 595px;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 10px 30px 50px 595px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-right: 307px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 298px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 425px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 425px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 235px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 228px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 205px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 205px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 383px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 176px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 171px;
    font-size: 1rem;
  }

  .u-section-2 .u-text-3 {
    margin-left: 25px;
    font-size: 1rem;
  }

  .u-section-2 .u-text-4 {
    margin-left: 25px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-2 .u-image-1 {
    width: 440px;
    height: 242px;
    margin-top: 0;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-2 .u-text-1 {
    font-weight: 700;
    width: 204px;
    margin-top: 32px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 22px;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 19px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin: 16px 11px 60px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 591px;
}

.u-section-3 .u-image-1 {
  width: 571px;
  height: 571px;
  margin: 20px 23px 0 auto;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: -544px auto 0 85px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 11px 643px 0 85px;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 643px 60px 85px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -542px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 443px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 443px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 223px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 223px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 652px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 43px;
    font-size: 1rem;
  }

  .u-section-3 .u-text-3 {
    margin-right: 43px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-3 .u-image-1 {
    height: 242px;
    width: 440px;
    object-position: 64.88% 50%;
    margin-top: 3px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-weight: 700;
    margin-top: 31px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 31px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin: 19px 18px 50px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 831px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: 68px 209px 0 auto;
}

.u-section-4 .u-image-1 {
  width: 545px;
  height: 467px;
  margin: -79px auto 0 25px;
}

.u-section-4 .u-text-2 {
  margin: -375px 56px 0 613px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  margin: 25px 218px 60px auto;
  padding: 10px 71px 10px 70px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: 555px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -553px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 99px;
    margin-right: 0;
    margin-left: 469px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-left: 249px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 551px;
    margin-right: 157px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 463px;
    margin-top: -536px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 86px;
    margin-left: 69px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-4 .u-text-1 {
    font-weight: 700;
    width: auto;
    margin-top: 262px;
    margin-right: auto;
  }

  .u-section-4 .u-image-1 {
    width: 440px;
    height: 242px;
    margin-top: -306px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 80px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 45px;
    margin-right: auto;
  }
}